Options -Indexes
Options +FollowSymlinks

php_value upload_max_filesize 500M
php_value post_max_size 500M
php_value max_execution_time 2000
php_value max_input_time 0

## enable expirations
ExpiresActive On
ExpiresByType text/css A604800
ExpiresByType image/gif A2592000
ExpiresByType image/x-icon A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/png A2592000
ExpiresByType video/mp4 A2592000
ExpiresByType text/js A604800
ExpiresByType text/javascript A604800
ExpiresByType application/javascript A604800
ExpiresByType application/x-javascript A604800

order allow,deny
allow from all

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php?u=$1
